body {
    color: rgb(45, 49, 45);
    background-color: #22222218;
}

.stButton>button {
    color: lightgreen;
    border-radius: 0%;
    border-color: lightgreen;
    height: 3em;
    width: 12em;
    box-shadow: none;
}

div.stButton > button:first-child {
    background-color: #22222218;height:3em;width:12em;border-radius:0%;box-shadow: none;color: lightgreen

    }    

